<h1><%= title %></h1>

<div class="map-wrapper">
    
    <div class="kumasi-map"></div>

    <div class="slider-container">
        <p class="date-label">Loading...</p>
        <input type="range" class="time-slider" min="0" max="10" step="1" value="0">
    </div>

</div>

<script src="/js/map.js"></script>